torch==2.7.1+cpu
--extra-index-url https://download.pytorch.org/whl/cpu
fastapi
uvicorn
sentence-transformers==2.6.1
keybert==0.7.0
scikit-learn
pymongo
beautifulsoup4
requests
python-jose[cryptography]
passlib[bcrypt]
pydantic
python-multipart
python-dotenv
pyjwt
