torch==2.2.2+cpu -f https://download.pytorch.org/whl/torch_stable.html
fastapi
uvicorn
sentence-transformers==2.6.1
keybert==0.7.0
scikit-learn
pymongo
beautifulsoup4
requests
python-jose[cryptography]
passlib[bcrypt]
pydantic
python-multipart
python-dotenv
pyjwt
